/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer components {
    /* tables */
    .bh-datatable *,
    .bh-datatable *:after,
    .bh-datatable *:before {
        border: 0 solid transparent;
        box-sizing: border-box;
    }
    .bh-table-responsive {
        @apply bh-relative bh-w-full bh-overflow-auto bh-rounded;
    }
    .bh-table-responsive table {
        @apply bh-w-full bh-max-w-full !bh-border-collapse;
    }
    .bh-table-responsive table thead tr,
    .bh-table-responsive table tfoot tr {
        @apply bh-bg-blue-light;
    }
    .bh-table-responsive table thead tr th,
    .bh-table-responsive table tfoot tr th,
    .bh-table-responsive table tbody tr td {
        @apply bh-px-4 bh-py-3 bh-text-left;
    }
    .bh-table-responsive table thead tr th,
    .bh-table-responsive table tfoot tr th {
        @apply bh-whitespace-nowrap bh-align-top bh-font-bold;
    }
    .bh-table-responsive table tbody tr {
        @apply bh-border-b bh-border-solid bh-border-blue-light;
    }
    .bh-table-responsive table.bh-table-striped tbody tr:nth-child(odd) {
        @apply bh-bg-[#e0e6ed]/[0.15];
    }
    .bh-table-responsive table.bh-table-hover tbody tr {
        @apply hover:bh-bg-[#f9fafb];
    }
    .bh-table-responsive table.bh-table-compact thead tr th,
    .bh-table-responsive table.bh-table-compact tbody tr td {
        @apply bh-px-3 bh-py-2;
    }
    .bh-table-responsive table.bh-table-bordered thead tr th,
    .bh-table-responsive table.bh-table-bordered tbody tr td {
        @apply bh-border bh-border-solid bh-border-blue-light;
    }

    .bh-pagination .bh-page-item {
        @apply bh-grid bh-h-8 bh-w-8 bh-cursor-pointer bh-select-none bh-place-content-center bh-rounded-full bh-border bh-border-solid bh-border-black/30 bh-bg-white bh-px-2.5 bh-py-1.5 bh-text-gray-600 bh-outline-0 hover:bh-border-primary hover:bh-bg-primary hover:bh-text-white hover:bh-duration-200;
        -webkit-appearance: button;
        background-image: none;
    }
    .bh-pagination .bh-page-item.disabled:not(.bh-active) {
        @apply bh-pointer-events-none bh-opacity-50;
    }
    .bh-pagination .bh-page-item.bh-active {
        @apply bh-border-primary bh-bg-primary bh-text-white;
    }

    .bh-table-responsive button,
    .bh-table-responsive input {
        @apply bh-outline-none;
    }

    .bh-pagination-info .bh-pagesize {
        @apply bh-box-border bh-rounded bh-border bh-border-solid bh-border-[#e0e6ed] bh-bg-white bh-px-2 bh-py-1.5 bh-font-normal bh-text-black bh-outline-0 focus:bh-ring-1 focus:bh-ring-[#e0e6ed]/40;
    }

    /* filter */
    .bh-table-responsive table th .bh-filter {
        @apply bh-mt-0.5 bh-flex bh-h-[30px] bh-w-full bh-items-center;
    }
    .bh-table-responsive table th .bh-filter > .bh-form-control {
        @apply bh-box-border bh-h-full bh-w-full bh-min-w-[60px] bh-rounded-l bh-border bh-border-solid bh-border-[#e0e6ed] bh-bg-white bh-px-3 bh-py-1 bh-text-sm bh-font-normal bh-text-black bh-outline-0 focus:bh-ring-1 focus:bh-ring-[#e0e6ed]/40;
    }
    .bh-table-responsive table th .bh-filter > select {
        @apply bh-rounded;
    }
    .bh-table-responsive table th .bh-filter > button {
        @apply bh-grid bh-h-[30px] bh-w-[30px] bh-shrink-0 bh-cursor-pointer bh-place-content-center bh-rounded-r bh-border bh-border-solid bh-border-[#e0e6ed] bh-bg-[#e0e6ed] bh-text-black/70 hover:bh-text-black/90;
        -webkit-appearance: button;
        background-image: none;
    }
    .bh-filter-menu button {
        @apply bh-flex bh-w-full bh-cursor-pointer bh-border bh-border-solid bh-border-transparent bh-bg-white bh-px-4 bh-py-1.5 bh-text-left hover:bh-bg-gray-100 hover:bh-font-bold;
        -webkit-appearance: button;
        background-image: none;
    }
    .bh-filter-menu button.active {
        @apply bh-bg-gray-100 bh-font-bold;
    }

    /* checkbox */
    .bh-table-responsive input[type='checkbox'] {
        @apply bh-absolute bh-h-5 bh-w-5 bh-opacity-0;
    }
    .bh-table-responsive input[type='checkbox'] + div {
        @apply bh-grid bh-h-5 bh-w-5 bh-place-content-center bh-rounded bh-border bh-border-solid bh-border-[#e0e6ed] bh-bg-white;
    }
    .bh-table-responsive input[type='checkbox'] + div svg {
        @apply bh-pointer-events-none bh-hidden bh-h-3 bh-w-3 bh-fill-current bh-text-primary;
    }

    .bh-table-responsive input[type='checkbox']:checked + div,
    .bh-table-responsive input[type='checkbox']:indeterminate + div {
        @apply bh-border-primary bh-bg-primary;
    }
    .bh-table-responsive input[type='checkbox']:checked + div svg.check,
    .bh-table-responsive input[type='checkbox']:indeterminate + div svg.intermediate {
        @apply bh-flex bh-text-white;
    }
}

.bh-skeleton-box {
    @apply bh-relative bh-w-full bh-overflow-hidden bh-bg-gray-100 after:bh-absolute after:bh-inset-0 after:-bh-translate-x-full after:bh-animate-[bhshimmer_2s_infinite] after:bh-bg-[linear-gradient(90deg,rgba(0,0,0,0)_0,rgba(0,0,0,0.025)_20%,rgba(0,0,0,0.05)_50%,rgba(0,0,0,0))] after:bh-content-[''];
}
@keyframes bhshimmer {
    100% {
        transform: translateX(100%);
    }
}
